
<h2 class="text-center">MANTENIMIENTO DE USUARIOS</h2>
<div class="cont-button justify-content-end" style="display: flex;  margin: 20px 10% 20px 0;">
  <button mat-button (click)="onClickAbrirModal()">Registrar</button>
</div>



      <ng-template #dialogContent style="background-color: #f7f7f7;">
        <h1 mat-dialog-title class="text-center">REGISTRE UN USUARIO</h1>
        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" >
          <div class="form-group row">
            <mat-form-field appearance="outline">
              <mat-label>Nombres</mat-label>
              <input matInput type="text"formControlName="nombre">
              <mat-error *ngIf="usuarioForm.hasError('required', 'nombre')">*Campo Obligatorio</mat-error>
              <mat-error *ngIf="usuarioForm.hasError('pattern', 'nombre')">*El Nombre debe ser <b>Alfabetico con un espacios</b></mat-error>
            </mat-form-field>
            
          </div>
          <div class="form-group row">
            <mat-form-field appearance="outline">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput type="text" formControlName="apellidoPaterno">
              <mat-error *ngIf="usuarioForm.hasError('required', 'apellidoPaterno')">*Campo Obligatorio</mat-error>
              <mat-error *ngIf="usuarioForm.hasError('pattern', 'apellidoPaterno')">*El Apellido Paterno debe ser <b>Alfabetico sin espacios</b></mat-error>
            </mat-form-field>
          </div>
          <div class="form-group row">
            <mat-form-field appearance="outline">
              <mat-label>Apellido Materno</mat-label>
              <input matInput type="text" formControlName="apellidoMaterno">
              <mat-error *ngIf="usuarioForm.hasError('required', 'apellidoMaterno')">*Campo Obligatorio</mat-error>
              <mat-error *ngIf="usuarioForm.hasError('pattern', 'apellidoMaterno')">*El Apellido Materno debe ser <b>Alfabetico sin espacios</b></mat-error>
            </mat-form-field>
          </div>
          <div class="form-group row">
            <mat-form-field appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput type="text" formControlName="correo">
              <mat-error *ngIf="usuarioForm.hasError('required', 'correo')">*Campo Obligatorio</mat-error>
              <mat-error *ngIf="usuarioForm.hasError('email', 'correo')">*Correo invalido. Ejm: ejemplo@ejemplo.com </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group row">
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput type="text" formControlName="clave">
              <mat-error *ngIf="usuarioForm.hasError('required', 'clave')">*Campo Obligatorio</mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput type="number" formControlName="edad" [ngClass]="{'is-invalid': !submited && usuarioForm.controls['nombre'].errors}">
              </mat-form-field>
            </div>
          </div>
          
          <div class="form-group row">
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput type="text" formControlName="nombre" [ngClass]="{'is-invalid': !submited && usuarioForm.controls['nombre'].errors}">
            </mat-form-field>
          </div>
          <div class="modal-footer justify-content-center">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon fontIcon="add"></mat-icon>
              Registrar
            </button>
          </div>
          
        </form>
      </ng-template>
