
<h2 class="text-center titulo-mantenimiento" style="margin-top: 4rem;">MANTENIMIENTO DE USUARIOS</h2>
<div class="cont-button justify-content-end" style="display: flex;  margin: 20px 5% 20px 0;">
  <button mat-raised-button (click)="onClickAbrirModal()" class="color-verde btn-registrar-general" style="font-size: 25px; padding-right: 40px;">
    <mat-icon fontIcon="add_circle_outline" style="font-size: 40px; width: 90%; height: 100%;"></mat-icon>
    REGISTRAR</button>
</div>

<div class="tabla-datos">
  <table mat-table [dataSource]="dataUsuario"  class="mat-elevation-z3 demo-table" style="border: 1px #c2c2c2 solid;">
    <ng-container matColumnDef="idUsuario">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.idUsuario}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>NOMBRE </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="apellidoPaterno">
      <th mat-header-cell *matHeaderCellDef>APELLIDO PATERNO</th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.apellidoPaterno}} </td>
    </ng-container>
  
    <ng-container matColumnDef="apellidoMaterno">
      <th mat-header-cell *matHeaderCellDef>APELLIDO MATERNO</th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.apellidoMaterno}} </td>
    </ng-container>
  
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef >CORREO</th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.correo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef>EDAD</th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.edad}} </td>
    </ng-container>
  
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef >ESTADO</th>
      <td mat-cell *matCellDef="let usuario">
        <ng-container *ngIf="usuario.estado === 1"> Activo </ng-container>
        <ng-container *ngIf="usuario.estado === 0"> Desactivado </ng-container>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="tipoUsuario.descripcion">
      <th mat-header-cell *matHeaderCellDef>TIPO USUARIO</th>
      <td mat-cell *matCellDef="let usuario">{{usuario.tipoUsuario.descripcion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> ACCIÓN</th>
      <td mat-cell *matCellDef="let usuario">
        <button mat-fab class="color-amarillo btn-accion" (click)="onClickActualizar(usuario.idUsuario)">
          <mat-icon fontIcon="edit" ></mat-icon>
        </button>
        <button mat-fab class="color-rojo btn-accion" (click)="onClickEliminar(usuario.idUsuario)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
    
  </table>

  <mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>



<ng-template #dialogContent style="background-color: #f7f7f7;">
  <h1 mat-dialog-title class="text-center">{{tituloBoton}}</h1>
  
  <form [formGroup]="usuarioForm" >
    <div class="form-group row campos">
      <mat-form-field appearance="outline">
        <mat-label>Nombres</mat-label>
        <input matInput type="text"formControlName="nombre">
        <mat-error *ngIf="usuarioForm.hasError('required', 'nombre')">*Campo Obligatorio</mat-error>
        <mat-error *ngIf="usuarioForm.hasError('pattern', 'nombre')">*El Nombre debe ser <b>Alfabetico con un espacios</b></mat-error>
        <mat-error *ngIf="usuarioForm.hasError('maxlength', 'nombre')">*El Nombre Materno no debe superar de <b>250</b> caracteres</mat-error>
      </mat-form-field>
      
    </div>
    <div class="form-group row campos">
      <mat-form-field appearance="outline">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput type="text" formControlName="apellidoPaterno">
        <mat-error *ngIf="usuarioForm.hasError('required', 'apellidoPaterno')">*Campo Obligatorio</mat-error>
        <mat-error *ngIf="usuarioForm.hasError('pattern', 'apellidoPaterno')">*El Apellido Paterno debe ser <b>Alfabetico sin espacios</b></mat-error>
        <mat-error *ngIf="usuarioForm.hasError('maxlength', 'apellidoPaterno')">*El Apellido Paterno no debe superar de <b>250</b> caracteres</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group row campos">
      <mat-form-field appearance="outline">
        <mat-label>Apellido Materno</mat-label>
        <input matInput type="text" formControlName="apellidoMaterno">
        <mat-error *ngIf="usuarioForm.hasError('required', 'apellidoMaterno')">*Campo Obligatorio</mat-error>
        <mat-error *ngIf="usuarioForm.hasError('pattern', 'apellidoMaterno')">*El Apellido Materno debe ser <b>Alfabetico sin espacios</b></mat-error>
        <mat-error *ngIf="usuarioForm.hasError('maxlength', 'apellidoMaterno')">*El Apellido Materno no debe superar de <b>250</b> caracteres</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group row campos">
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput type="text" formControlName="correo">
        <mat-error *ngIf="usuarioForm.hasError('required', 'correo')">*Campo Obligatorio</mat-error>
        <mat-error *ngIf="usuarioForm.hasError('email', 'correo')">*Correo invalido. Ejm: ejemplo@ejemplo.com </mat-error>
        <mat-error *ngIf="usuarioForm.hasError('maxlength', 'correo')">*El Correo no debe superar de <b>100</b> caracteres</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group row campos">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="clave">
        <mat-error *ngIf="usuarioForm.hasError('required', 'clave')">*Campo Obligatorio</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group row campos">
      <mat-form-field appearance="outline" [style.width.%]=50>
        <mat-label>Edad</mat-label>
        <input matInput type="number" formControlName="edad">
        <mat-error *ngIf="usuarioForm.hasError('required', 'edad')">*Campo Obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.%]=50>
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          <mat-option value="0">Desactivado</mat-option>
          <mat-option value="1">Activo</mat-option>
        </mat-select>
        <mat-error *ngIf="usuarioForm.hasError('required', 'estado')">*Campo Obligatorio</mat-error>
      </mat-form-field> 
    </div>
    
    <div class="form-group row campos">
      <mat-form-field appearance="outline">
        <mat-label>Tipo Usuario</mat-label>
        <mat-select formControlName="tipoUsuario">
          <mat-option *ngFor="let tipo of tiposUsuarios" [value]="tipo.idTipoUsuario">{{tipo.descripcion}}</mat-option>
        </mat-select>
        <mat-error *ngIf="usuarioForm.hasError('required', 'tipoUsuario')">*Campo Obligatorio</mat-error>
      </mat-form-field> 
    </div>
    <div class="modal-footer justify-content-center">
      <button mat-raised-button color="primary" (click)="registrarUsuario()" *ngIf="tipoModal == 0">
        <mat-icon fontIcon="add"></mat-icon>
        Registrar
      </button>
      <button mat-raised-button color="primary" (click)="actualizarUsuario()" *ngIf="tipoModal == 1">
        <mat-icon fontIcon="edit"></mat-icon>
        Actualizar
      </button>
    </div>
    
  </form>
</ng-template>

<ng-template #notificacion>
  <h4>{{tituloNotificacion}}</h4>
  <p *ngIf="baseResponse?.msjRespuesta">{{baseResponse?.msjRespuesta}}</p>
</ng-template>

<ng-template #dialogEliminar>
  <div mat-dialog-content>
    <h3>{{contenidoDialogEliminar.title}}</h3>
    <p>{{contenidoDialogEliminar.content}}</p>
    <p><b>*Recuerde que la eliminación es cambio de estado</b></p>
    <div class="d-flex justify-content-between">
      <button mat-raised-button (click)="accionEliminar(contenidoDialogEliminar.id)" color="warn">
        Eliminar
      </button>
      <button mat-raised-button (click)="cerrarDialogs()">
        Cancelar
      </button>
    </div>
    
  </div>
</ng-template>
