<h2 class="text-center" style="margin-top: 2rem; font-family: Roboto, 'Helvetica Neue', sans-serif;  font-size: 45px;">Catálogo de Bebidas</h2>
<div class="catalogo-container">
    <div class="mat-card-row">
        <mat-card class="example-card col-md-4" *ngFor="let bebida of bebidasData">
          <img mat-card-image *ngIf="bebida.imagen" [src]="'data:image/png;base64,' + bebida.imagen" alt="No hay imagen">
          <img mat-card-image *ngIf="!bebida.imagen" src="../../../assets/imgs/img_logo.jpg" alt="">
          <mat-card-content >
            <p class="text-center">{{bebida.descripcionBebida}}</p>
          </mat-card-content>
          <mat-card-actions>
            <div class="button-container">
                <button mat-flat-button color="primary" (click)="redireccionarPagina(bebida.idBebida)" aria-label="Example icon button with a menu icon">
                    <mat-icon style="margin-left: 0.5rem;">visibility</mat-icon>
                </button>
            </div>
            <h4>S/ {{bebida.precioBebida}}</h4>
          </mat-card-actions>
        </mat-card>
      </div>
</div>

<div class="paginacion">
  <button mat-stroked-button (click)="clickIrInicio()" *ngIf="paginaActual != 1">
    Ir Inicio
  </button>
  <button mat-stroked-button (click)="clickAnterior()" *ngIf="paginaActual != 1">
  Anterior
  </button>
  <button mat-stroked-button>
      {{paginaActual}}
  </button>
  <button mat-stroked-button (click)="clickSiguiente()" *ngIf="paginaFinal != paginaActual">
  Siguiente
  </button>
  <button mat-stroked-button (click)="clickIrFinal()" *ngIf="paginaFinal != paginaActual">
    Ir Final
  </button>
</div>
