.mat-expansion-panel{
    border-radius: 0px;
    border-top: 0.5px black solid;
    color: white;
}
.mat-expansion-panel:last-child{
    border-bottom: 0.5px black solid;
}
.mat-expansion-panel-header{
    background-color: #CA9118;
    border-radius: 0px;
    font-size: larger;
}
.mat-expansion-panel-header.mat-expanded:focus{
    background-color: #CA9118;
}
.mat-mdc-list-base{
    display: initial;
}
.mat-expansion-panel-header:hover{
    background-color: #eba91b !important;
}
.mdc-list-item{
    background-color: #AA7605;
    border-top: 0.5px black solid;
    width: 100%;
    color: white;
}
.mdc-list-item span{
    
    color: white;
    text-align: center;
    margin-left: 1rem;
    font-size: 20px;
}
.mdc-list-item span {
    vertical-align: middle; /* Alinea verticalmente el texto en relación con el icono */
}
.list-icon{
    vertical-align: middle; 
    margin-left: 2rem;

}
.list-icon-escondido{
    vertical-align: middle; 
    margin-left: 0.5rem;
    font-size: 30px;
    width: 110%;
}