<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        <mat-icon style="vertical-align: middle;">home</mat-icon>
        <span *ngIf="estatusSidebar()" style="margin-left: 1rem;">Inicio</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/intranet']" #tooltip="matTooltip"
            matTooltip="Inicio" [matTooltipPosition]="estatusSidebar() ? 'below' : 'right'">
            <mat-icon [class.list-icon]="estatusSidebar()" [class.list-icon-escondido]="!estatusSidebar()">home</mat-icon>
            <span *ngIf="estatusSidebar()">Inicio</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        <mat-icon style="vertical-align: middle;">view_list</mat-icon>
        <span *ngIf="estatusSidebar()" style="margin-left: 1rem;">Mantenimiento</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item #tooltip="matTooltip"
            matTooltip="Bebida" [matTooltipPosition]="estatusSidebar() ? 'below' : 'right'">
            <mat-icon [class.list-icon]="estatusSidebar()" [class.list-icon-escondido]="!estatusSidebar()">coffee</mat-icon>
            <span *ngIf="estatusSidebar()">Bebida</span>
        </a>
        <a mat-list-item [routerLink]="['/intranet/mantenimiento-comida']" #tooltip="matTooltip"
            matTooltip="Comidas" [matTooltipPosition]="estatusSidebar() ? 'below' : 'right'">
            <mat-icon [class.list-icon]="estatusSidebar()" [class.list-icon-escondido]="!estatusSidebar()">lunch_dining</mat-icon>
            <span *ngIf="estatusSidebar()">Comida</span>
        </a>
        <a mat-list-item [routerLink]="['/intranet/mantenimiento-cliente']" #tooltip="matTooltip"
            matTooltip="Clientes" [matTooltipPosition]="estatusSidebar() ? 'below' : 'right'">
            <mat-icon [class.list-icon]="estatusSidebar()" [class.list-icon-escondido]="!estatusSidebar()">groups</mat-icon>
            <span *ngIf="estatusSidebar()">Cliente</span>
        </a>
        <a mat-list-item [routerLink]="['/intranet/mantenimiento-usuario']" #tooltip="matTooltip"
            matTooltip="Usuarios" [matTooltipPosition]="estatusSidebar() ? 'below' : 'right'">
            <mat-icon [class.list-icon]="estatusSidebar()" [class.list-icon-escondido]="!estatusSidebar()">account_circle</mat-icon>
            <span *ngIf="estatusSidebar()">Usuarios</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        <mat-icon style="vertical-align: middle;">edit_document</mat-icon>
        <span *ngIf="estatusSidebar()" style="margin-left: 1rem;">Reporte</span> 
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item routerLink="#" #tooltip="matTooltip" 
            matTooltip="Ventas" [matTooltipPosition]="estatusSidebar() ? 'below' : 'right'">
            <mat-icon [class.list-icon]="estatusSidebar()" [class.list-icon-escondido]="!estatusSidebar()" >sell</mat-icon>
            <span *ngIf="estatusSidebar()">Ventas</span>
        </a>
    </mat-nav-list>
</mat-expansion-panel>



