<div class="general-container">
    <div class="box">
        <div class="inner-box">
            <div class="forms-wrap">
                <form class="iniciar-sesion" [formGroup]="loginForm">
                    <div class="logo">
                        <img src="../../../assets/imgs/img_logo.jpg" alt="keeny" class="lo">
                    </div>
                    <div class="cabecera">
                        <h2>BIENVENIDO 👋</h2>
                        <h6>Inicia sesión para navegar por la cafetería</h6>
                    </div>
                    <div class="actual-form">

                        <div class="input-field2">
                            <input matInput formControlName="idUsuario">
                            <label class="lbl">Correo electrónico</label>
                        </div>
                        <div class="text-danger" *ngIf="this.loginForm.hasError('required', 'idUsuario') && !formValid">
                            Ingrese su correo electrónico.
                        </div>
                        <div class="text-danger" *ngIf="this.loginForm.hasError('email', 'idUsuario') && !formValid">
                            Correo electrónico invalido.
                        </div>
                        <div class="input-field2">
                            <input matInput type="password" formControlName="clave">
                            <label class="lbl">Contraseña</label>
                        </div>
                        <div class="text-danger" *ngIf="this.loginForm.hasError('required', 'clave') && !formValid">
                            Ingrese su contraseña.
                        </div>

                        <!-- btnIngresar -->
                        <input type="submit" value="Iniciar sesión" class="ingresar-btn" (click)="validarIngreso()">
                        <p class="text">
                            ¿No tienes una cuenta? 
                            <a routerLink="/registro">Registrate aquí</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="carrusel">
            </div>
        </div>
    </div>
</div>
<ng-template #notificacion>
    <h4>Inicio de sesión fallido 🚫</h4>
    <p *ngIf="response?.msjRespuesta">{{response?.msjRespuesta}}</p>
</ng-template>