<body>
<!-- Inicio -->
<section class="inicio" id="inicio">
    <div class="inicio-texto">
        <span>Bienvenidos a</span>
        <h1>Keeny Cofee</h1>
        <h2>Cafe Saludable es una <br>tendencia</h2>
        <a href="#" class="btn">Únete Ahora</a>
    </div>
    <div class="inicio-img">
        <img src="../../../assets/imgs/ban.png" alt="">
    </div>
</section>

<!-- Delivery -->
<section class="delivery" id="delivery">
    <div class="heading">
        <span>Obtenlo ahora</span>
        <h1>Ordena con Rappi</h1>
    </div>
    <div class="container">
        <div class="delivery-img">
            <img src="../../../assets/imgs/delivery.png" alt="">
        </div>
        <div class="delivery-text">
            <h2>Te llega al toque a tu casa</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aperiam maxime facere provident sunt voluptates. Deleniti quibusdam expedita eos.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aperiam maxime facere provident sunt voluptates. Deleniti quibusdam expedita eos.</p>
            <a href="#" class="btn">Ordenar ahora</a>
        </div>
    </div>
</section>

<!-- App -->
<section class="app" id="app">
    <div class="heading">
        <span>Nuestra app</span>
        <h1>Descarga nuestra app</h1>
    </div>
    <div class="container">
        <div class="app-text">
            <h2>No te pierdas alguna promoción</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aperiam maxime facere provident sunt voluptates. Deleniti quibusdam expedita eos.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aperiam maxime facere provident sunt voluptates. Deleniti quibusdam expedita eos.</p>
            <a href="#" class="btn">Get App</a>
        </div>
        <div class="app-img">
            <img src="../../../assets/imgs/app2.png" alt="">
        </div>
    </div>
</section>

<!-- Acerca de -->
<section class="acerca" id="acerca">
    <div class="acerca-img">
        <img src="../../../assets/imgs/acerca.png">
    </div>
    <div class="app-text">
        <h2>Identificate con la marca</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aperiam maxime facere provident sunt voluptates. Deleniti quibusdam expedita eos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa eaque aperiam maxime facere provident sunt voluptates. Deleniti quibusdam expedita eos.</p>
        <a href="#" class="btn">Aprende más</a>
    </div>
</section>

<!-- Footer -->
<section class="footer" id="contacto">
    <div class="box-container">
        <div class="box">
            <h3>Keeny Cofee</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo velit asperiores repudiandae alias.</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-tiktok' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
            </div>
        </div>
        <div class="box">
            <h3>Enlaces rápidos</h3>
            <a href="#">Inicio</a>
            <a href="#">Catálogo</a>
            <a href="#">Intranet</a>
            <a href="#app">App</a>
            <a href="#contacto">Contáctanos</a>
        </div>
        <div class="box">
            <h3>Locales</h3>
            <a href="#">Lima Centro</a>
            <a href="#">Breña</a>
            <a href="#">Miraflores</a>
            <a href="#">Barranco</a>
        </div>
        <div class="box">
            <h3>Info de contacto</h3>
            <a href="#">+51 987-654-321</a>
            <a href="#">keenycontact@gmail.com</a>
            <a href="#">lima, Peru - 10001</a>
            <img class="pago" src="../../../assets/imgs/pagos.png" alt="">
        </div>
    </div>

    <div class="creditos">creado por <span>Keyssi - Elmira - Enzo - Nicolas - Yvette </span>| todos los derechos reservados ©</div>
</section>
</body>

