<section class="inicio" id="inicio">
    <div class="inicio-texto">
        <span>Bienvenido</span>
        <h1>{{usuarioNombre}}</h1>
        <h2>Ahora puedes configurar datos <br>de la cafeteria</h2>
        <a routerLink="mantenimiento-comida" class="btn" style="margin-right: 7px;">Configurar comidas</a>
        <a routerLink="mantenimiento-bebida" class="btn" style="margin-right: 7px;">Configurar bebidas</a>
        <a routerLink="mantenimiento-cliente" class="btn">Configurar clientes</a>
    </div>
    <div class="inicio-img">
        <img src="../../../assets/imgs/ban.png" alt="">
    </div>
</section>