<div class="container">
    <h4 class="title">REPORTE DE VENTAS</h4>

    <form class="form-container" [formGroup]="filtroForm">
        <div class="input-group" >
            <label class="label" for="fecha"><b>Rango de Fechas:</b></label>
            <mat-form-field>
                <mat-label>Seleccione un rango</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Fecha Inicio" #fechaInicio formControlName="fechaInicio">
                  <input matEndDate placeholder="Fecha Final" #fechaFinal formControlName="fechaFin">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
        </div>

        <div class="input-group">
            <label class="label" for="producto"><b>Id Cliente:</b></label>
            <input type="text" id="producto" class="form-control me-3" placeholder="Id Cliente" #idCliente formControlName="idCliente">
            <button class="btn btn-danger" (click)="limpiarFiltros()" >&times;</button>
        </div>
    </form>

    <div class="button-container">
        <button class="btn boton" style="background-color: darkturquoise;" (click)="consultarPorFiltros()"><div class="d-flex justify-content-center"><mat-icon>search</mat-icon> <p>Consultar</p></div></button>
        <button class="btn boton" style="background-color: rgb(54, 180, 92);"  (click)="exportarExcel()"> <div class="d-flex justify-content-center"><mat-icon>download</mat-icon> <p>Excel</p></div></button>
        <button class="btn boton" style="background-color: rgb(245, 58, 95);" (click)="exportarPDF()"><div class="d-flex justify-content-center"><mat-icon>picture_as_pdf</mat-icon> <p>PDF</p></div></button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Número de Boleta</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let boleta of boletas">
                <td>{{ boleta.numBoleta }}</td>
                <td>{{ boleta.fechaBoleta | date: 'dd/MM/yyyy' }}</td>
                <td>{{ boleta.idCliente.nombre_cliente }} {{ boleta.idCliente.apellidos_cliente }}</td>
                <td>S/. {{ boleta.totalMonto }}</td>
            </tr>
        </tbody>
    </table>
</div>