<div class="container">
    <h4 class="title">REPORTE DE VENTAS</h4>

    <div class="form-container">
        <div class="input-group">
            <label class="label" for="fecha"><b>Rango de Fechas:</b></label>
            <input type="text" id="fecha" class="form-control me-2" placeholder="Fecha">
        </div>

        <div class="input-group">
            <label class="label" for="producto"><b>Id Cliente:</b></label>
            <input type="text" id="producto" class="form-control me-3" placeholder="Id Cliente">
            <button class="btn btn-danger" >&times;</button>
        </div>
    </div>

    <div class="button-container">
        <button class="btn boton" style="background-color: darkturquoise;">Consultar</button>
        <button class="btn boton" style="background-color: rgb(245, 58, 95);">Gráfico</button>
        <button class="btn boton" style="background-color: rgb(0, 255, 76);" (click)="onImprimir()">Exportar</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Número de Boleta</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let boleta of boletas">
                <td>{{ boleta.numBoleta }}</td>
                <td>{{ boleta.fechaBoleta | date: 'dd/MM/yyyy' }}</td>
                <td>{{ boleta.idCliente.nombre_cliente }} {{ boleta.idCliente.apellidos_cliente }}</td>
                <td>S/. {{ boleta.totalMonto }}</td>
            </tr>
        </tbody>
    </table>
</div>