.campos{
    margin: 15px 8% 0 8%;
}
.mat-column-idBebida {
    width: 10px !important;
    font-weight: bold;
    padding-right: 24px;
    text-align: center;
    border-right: 1px solid currentColor;
}
.mat-column-descripcionBebida,.mat-column-precioBebida,.mat-column-stockBebida,.mat-column-estadoBebida,.mat-column-tipoBebida-descripcion,.mat-column-categoriaBebida-descripcion,.mat-column-tamanioBebida-descripcion {
    border-right: 1px solid #c2c2c2 !important;
}
.tabla-datos{
    width: 90%;
    margin: 0 auto 2rem auto;
}
.color-amarillo{
    background-color: #F8DF05 !important;
}
.color-rojo{
    background-color: #DE0B0B !important;
}
.mat-column-accion {
    width: 150px !important;
}
.btn-accion{
    margin: 10px 5px 10px 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 2px !important;
    border: 1px solid #585858 ;
}
.color-verde{
    background-color: #4FEA36 !important;
}
.btn-registrar-general{
    width: 250px;
    height: 40px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
th{
    font-size: 18px;
}
.titulo-mantenimiento{
    font-size: 45px;
}